@font-face {
    font-family: alert;
    src: url(../font/C&C\ Red\ Alert.ttf);
}

html, body {
    height: 100%;
    margin: 0;
    user-select: none;
    font-family: alert !important;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/prolepsys.svg");
    background-size: 180vh;
    background-position: center;
}

.btn.active.btn--stripe{
    height: 17px;
    top: 5px;
}

.btn.active.btn--stripe:after{
    height: 0px !important;
}

.red{
    background-color: #EA4335 !important;
    color: aliceblue !important;
    border: none !important;
}

.red.btn--stripe::after{
    background-color: #C82113;
    border: none !important;
    background-image: repeating-linear-gradient(45deg, #EA4335, #EA4335 1px, transparent 2px, transparent 5px);
}

.active{
    border: none !important;
}

.active.btn--stripe::after{
    border: none !important;
}

.yellow{
    background-color: #FFBB00 !important;
    color: aliceblue !important;
    border: none !important;
}

.yellow.btn--stripe::after{
    background-color: #DD9900;
    border: none !important;
    background-image: repeating-linear-gradient(45deg, #FFBB00, #FFBB00 1px, transparent 2px, transparent 5px);
}

.blue{
    background-color: #4285F4 !important;
    color: aliceblue !important;
    border: none !important;
}

.blue.btn--stripe::after{
    background-color: #2063D2;
    border: none !important;
    background-image: repeating-linear-gradient(45deg, #4285F4, #4285F4 1px, transparent 2px, transparent 5px);
}

.green{
    background-color: #34A853 !important;
    color: aliceblue !important;
    border: none !important;
}

.green.btn--stripe::after{
    background-color: #128631;
    border: none !important;
    background-image: repeating-linear-gradient(45deg, #34A853, #34A853 1px, transparent 2px, transparent 5px);
}

.black{
    background-color: rgb(97, 97, 97) !important;
    color: aliceblue !important;
    border: none !important;
}

.black.btn--stripe::after{
    background-color: rgb(61, 61, 61);
    border: none !important;
    background-image: repeating-linear-gradient(45deg, rgb(z), rgb(97, 97, 97) 1px, transparent 2px, transparent 5px);
}

.camera-btn,
.register-btn,
.emergency-btn{
    text-transform: capitalize !important;
    text-align: center !important;
    width: 50%;
    font-size: 1.5em !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.emergency-btn{
    font-family: alert !important;
    height: 30%;
    font-size: 40px !important;
}

.camera-btn{
    font-family: alert !important;
    font-size: 30px !important;
    height: 10%;
}

.register-btn{
    font-family: alert !important;
    font-size: 20px !important;
    height: 2%;
}

.swal2-styled.btn--stripe:after{    
    height: 5px !important;
}

