html, body {
    height: 100%;
    margin: 0;
}


.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url(/img/prolepsys.svg); 
    background-position: center;
    background-size: 180vh;
}
  
  
.settings-btn{
    width: 30px;
    height: 15px;
    position: fixed;
    margin: 10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
  
.settings-btn span{
    display: block;
    position: fixed;
    height: 3px;
    width: 100%;
    background: #EEEEEE;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
  
.settings-btn span:nth-child(1) {
    top: 0px;
}

.settings-btn span:nth-child(2),.settings-btn span:nth-child(3) {
    top: 12px;
}

.settings-btn span:nth-child(4) {
    top: 24px;
}

.settings-btn.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.settings-btn.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.settings-btn.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.settings-btn.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
  
.footer{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1em;
    color: #EEEEEE;
}